<h1>Ivan the Terrible's Blog</h1>

<section class="blog">
  <%= render @posts %>
<% @posts.each do |p| %>
  <% cache(p) do %>
    <%= link_to p.title, post_url(p) %>
  <% end %>
<% end %>
</section>

<br />

<%= link_to 'New Post', new_post_path %>
